<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <div v-if="some>20 ">I Have many phones </div>
    <h5>I have {{products.length}} Phones</h5>
    <div>
     <ul>
       <li v-for="product in products">
         {{product.name}}
         
         <a href="#" @Click.prevent='addToCart(product)'>add to cart</a>
         ({{product.qty}})
       </li>
       
     </ul> 
      <input type="text" v-model="newItem">
      <input type="text" v-model="newQty">
      <button @click='addItem'>Add</button>
      </div>
    <div>
     
      <h1>Cart({{cart.length}})</h1> 
         <ul>
           <li v-for='value in cart'>
             {{value.name}} ({{value.quantity}})
           </li>
         </ul>
     </div>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="main.js"></script>
  
  </body>
</html>